<div class="app-frame mat-app-background">
  <nav mat-tab-nav-bar [backgroundColor]="themeColor" [color]="'accent'" mat-align-tabs="center" dynamicHeight>
    <span class="example-spacer"></span>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">{{ link.label }}</a>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu" #tooltip="matTooltip" matTooltip="Select theme"
      matTooltipHideDelay="100000">
      <mat-icon [color]="'accent'">
        format_color_fill
      </mat-icon>
    </button>
  </nav>
  <mat-menu #themeMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="changeTheme('light-theme')">
      <mat-icon aria-hidden="true" [color]="'accent'" id="light">done</mat-icon> 
      Light
    </button>
    <button mat-menu-item (click)="changeTheme('dark-theme')">
      <mat-icon aria-hidden="true" [color]="'accent'" id="dark">done</mat-icon> 
      Dark
    </button>
  </mat-menu>
  <div class="router-content">
    <router-outlet></router-outlet>
  </div>
</div>